.lovense-cloud-settings .menu_button {
    width: 100%;
    margin-top: 5px;
}
.lovense-cloud-settings img {
    display: block;
    margin: 10px auto;
    border: 4px solid white;
}
.lovense-cloud-settings .lovense-link-btn {
    text-align: center;
    text-decoration: none;
    display: block;
}